html, body, #root {
  height: 100%;
  background-image: url("/Movies-background.png");
}
.App {
  height: 100%;
}
.similar-movies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 400px;
  margin: 50px;
  overflow: scroll;
}
#center-login {
  margin: 200px auto;
  width: 60%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  border-radius: 1em;
  padding: 10px;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.8);
}
#form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#logout {
  position: absolute;
  top: 0;
  right: 0;
}
.ToolBar {
  display: flex;
  justify-content: space-between;
}
.SearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar {
  margin-bottom: 200px;
}
.movie-lists {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#poster-trailer {
  display: flex;
  justify-content: center;
  align-items: start;
}
.title-box {
  border: solid;
  background-color: dimgray;
  max-width: 70%;
  margin: auto;

}
.title-rating {
  display: flex;
  justify-content: space-between;
}
#date-runtime {
  display: flex;
  justify-content: start;
  
}
#movie-overview {
  max-width: 70%;
  margin: auto;
}
.lan-status {
  margin: auto;
}
.search-movies {
  display: flex;
  justify-content: center;
}
.transparent-input {
  background-color:rgba(0, 0, 0, 0.8);
  border: none;
  color: #eee;
}